html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: white;
}

.root{
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.mapSection {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 600px;
  width: 95%;
  margin: auto;
}

.myMap {
  height: 600px;
  width: 95%;
  margin: auto;
}

.button-addon2 {
  background-color: lightskyblue;
}